.movieCard {
  background: #FFFFFF;
  border-radius: 0;
  padding: 25px;
  margin-bottom: 0;
  box-shadow: none;
  border-bottom: 1px solid rgba(13, 13, 13, 0.1);
}

@media (max-width: 768px) {
  .movieCard {
    padding: 20px;
  }
}
