.legend {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.legendItem {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-family: 'ABC Diatype', sans-serif;
  font-weight: 400;
  color: #0D0D0D;
}
